<div
  class="w-full mt-[3rem] flex flex-row items-baseline gap-x-3 bg-white py-4 p-9 rounded-xl shadow-xl"
>
  <div
    class="flex flex-row h-full basis-1/6 items-basline  text-center gap-x-3"
  >
    <div>
          
          <fa-icon size="lg" [icon]="faFilter"></fa-icon>
    </div>
    <div>
      <p class="font-thin flex flex-row items-center text-gray-500 text-[14px]">Quick Filters</p>
    </div>
    <div>
      <fa-icon size="lg" [icon]="faCaretDown"></fa-icon>
    </div>

    <!-- <div
      class="flex flex-row items-center h-8 mx-6 border-l border-gray-300 bg-red-500"
    ></div> -->
  </div>

  <div class="flex flex-row h-full basis-1/2  items-center text-center gap-x-3">
      <div>
        <fa-icon
          [style]="{ color: 'black', width: '' }"
          [icon]="faSearch"
          size="lg"
        ></fa-icon>
      </div>
      

      <div>
        <input type="text" placeholder="Search..." class="border-b w-[300px] border-gray-300 focus:border-b-2 focus:border-[#008793] outline-none" />
    </div>
  </div>

  <div class="flex flex-row items-baseline  h-full  basis-1/2">hey hez hez</div>
</div>
