<div
    class="flex relative flex-row h-full basis-1/6 items-center cursor-pointer  text-center gap-x-3"
  >
    <div>
          
          <fa-icon size="lg" [icon]="faFilter"></fa-icon>
    </div>
      <div class="">
        <select [(ngModel)]="selectedCategory" (change)="applyFilter()" class="outline-none  border-none">
          <option selected disabled value="Quick Filters">Quick Filters</option>
          <option value="">All</option>
          <option value="pending">Pending</option>
          <option value="in_progress">In Progress</option>
          <option value="done">Done</option>
        </select>
      </div>
    

  

  
  </div>
