<div class="container mx-auto py-32">
    <h1 class="text-4xl text-center mb-10 text-blue-700">Your Tasks</h1>
    <div *ngIf="loading">
        <small>loading...</small>
</div>


    <div class="flex flex-col md:flex-row gap-16 gap-y-10 justify-between ">

        <div class="w-full md:w-1/3">
            <h1 class="text-left md:text-center text-2xl mb-4 text-blue-700">Pending Tasks</h1>
            <app-pending (updateProgress)="updateToProgress(task)"  *ngFor="let task of tasksList" [task]="task"></app-pending>
        </div>
    
        <div  class="w-full md:w-1/3">
            <h1 class="text-left md:text-center text-2xl mb-4 text-blue-700">Tasks In Progress</h1>
            <app-in-progress (forwardToDone)="updateToDone(task)" (backToPending)="returnBackToPending(task)" *ngFor="let task of tasksList" [task]="task"></app-in-progress>
        </div>
    
        <div class="w-full md:w-1/3">
            <h1 class="text-left md:text-center text-2xl mb-4 text-blue-700">Completed Tasks</h1>
            <app-done (backToInProgress)="returnBackToInProgress(task)" *ngFor="let task of tasksList" [task]="task"></app-done>
        </div>
    </div>

    
</div>
