<div
  class="w-full my-8 flex flex-col gap-y-[2rem] items-start md:flex-row md:items-center h-full gap-x-3 bg-white py-4 px-9 rounded-xl shadow-xl"
>
  <app-filter-task (filterChanged)="onFilteredChange($event)"></app-filter-task>

  <div class="hidden md:flex items-center h-6 mx-4 w-3 border-l border-gray-300"></div>

  <app-search-task (emitSearch)="searchTask($event)"></app-search-task>

  <div class="flex flex-row items-center justify-end basis-1/2">
    <app-employee-list></app-employee-list>
  </div>
</div>

<router-outlet></router-outlet>

<small *ngIf="loading">loading...</small>

<ng-container *ngIf="filteredTasks && filteredTasks.length > 0" class="">
  <div class="pb-36 grid grid-cols-3 gap-5 md:grid-cols-5">
      <ng-container *ngFor="let task of filteredTasks" >
      <app-task-item
      (deleteTaskOutput)="deleteTask(task)"
      (editTaskOutput)="editTask(task)"
      [task]="task"
      *ngIf="searchText === '' || task.task.toLowerCase().includes(searchText)"
    >
  </app-task-item>

  
    </ng-container>
  
  </div>
</ng-container>


<ng-container  *ngIf="filteredTasks  && filteredTasks.length === 0">
  <div class="pt-9 flex flex-col justify-center items-center">
    <h1 class="text-2xl">No tasks</h1>

    <a routerLink="/admin/add-task" class="text-underline text-blue-600"
      >Add Task</a
    >
  </div>
</ng-container>
